.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .profile{
    width: 40px;
}
.navbar .logo{
    width: max(14%, 80px);
}

@media (max-width: 700px) {
    .navbar .logo{
        width: 150px;
    }
}

@media (max-width: 900px) {
    .navbar .logo{
        width: 180px;
    }
}